.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.cards {
    height: auto;
    width: 50vw;
    background-color: var(--white);
    padding: 20px 20px;
}

@media (max-width: 500px) {
    .cards {
        height: auto;
        width: 300px;
        margin: 30px;
    }
}

.cards-header {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

p label {
    color: var(--text)
}

h3 {
    color: var(--title)
}